@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Spicy+Rice&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Spicy+Rice&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60rem;
  height: 45rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}
@media (max-width: 35.99em) {
  .product-container {
    width: 34.3rem;
    height: 61.1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.product-container .product-details {
  margin: 3.5rem;
}
@media (max-width: 35.99em) {
  .product-container .product-details {
    margin: 3rem;
  }
}
.product-container .product__image-lg {
  width: 30rem;
  border-radius: 10px 0 0 10px;
}
@media (max-width: 35.99em) {
  .product-container .product__image-lg {
    display: none;
  }
}
.product-container .product__image-xs {
  height: 24rem;
  display: none;
  border-radius: 10px 10px 0 0;
}
@media (max-width: 35.99em) {
  .product-container .product__image-xs {
    display: block;
  }
}
.product-container .product__type {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: hsl(228, 12%, 48%);
  font-size: 1.2rem;
}
.product-container .product__title {
  text-align: left;
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  color: hsl(212, 21%, 14%);
  margin: 2rem 0;
}
@media (max-width: 35.99em) {
  .product-container .product__title {
    margin: 1rem 0;
  }
}
.product-container .product__info {
  color: hsl(228, 12%, 48%);
  line-height: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 35.99em) {
  .product-container .product__info {
    text-align: left;
  }
}
.product-container .product__price-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.product-container .product__discounted-price {
  color: hsl(158, 36%, 37%);
  font-size: 3.2rem;
  font-family: "Fraunces", serif;
}
.product-container .product__original-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}
.product-container .product__add-cart-section {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: hsl(158, 36%, 37%);
  width: 23.6rem;
  height: 4.8rem;
  gap: 1rem;
  border-radius: 8px;
}
@media (max-width: 35.99em) {
  .product-container .product__add-cart-section {
    width: 29.5rem;
  }
}
.product-container .product__add-cart-section:hover {
  background-color: #1a4032;
}
.product-container .product__basket-icon {
  width: 14.39px;
  height: 16px;
}
.product-container .product__btn {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  border: 0;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
}