* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* ! Here about making responsive screen and make stuff on center vertically and horizontally */
    display: flex;     
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);
    margin: 0 1.25rem;
}

h1, .price {
    font-family: 'Fraunces', serif;
}

img {
    max-width: 100%;
}

button, li {
    font-family: inherit;
    color: hsl(158, 36%, 37%);
}
    
h2 {
    color:  hsl(228, 12%, 48%);
    text-transform: uppercase;    /* ! to make all letters uppercase */
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1rem;  
    letter-spacing: 0.2rem;    /* ! give spaces between letters */
}

p {
    color: hsl(228, 12%, 48%);
    line-height: 1.8;
}

ul {
    list-style-type: none;  /* ! To remove dots on list  */
}

.container {
    max-width: 650px;     /* ! prevent container stuff to overflow */
}

.container h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.container p{
    margin-bottom: 2rem;
}

.container ul {
    display: flex;   /* ! To bring them together in one line */
    align-items: center;
    margin-bottom: 2rem;
}

.container ul li:first-child {
    font-size: 2rem;
    margin-right: 1.5rem;
    font-weight: 700;
}

.container ul li:nth-child(2) { /* ! If you have more child in a div you can use this code */
    color: hsl(228, 12%, 48%);
} 

.container article:first-child img{
    border-radius: 1rem 0 1rem 0;
}

.container article:last-child{  /* ! this choose last article in that div */
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0 0 1rem 1rem;
    margin-top: -1rem;   /* ! To remove space between picture and text */
}

.container .btn {
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 0.625rem;
    font-size: 1rem;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer; /* ! To make mouse cursor hand icon */
    transition: 0.3s; /* ! to animate button after 0.3s */

    display: flex;
    align-items: center;
    justify-content: center; 
}

.container .btn:hover {
    background-color: hsl(158, 59%, 19%);
}

.container .btn img{
    margin-right: 0.5rem;
}

.attribution {
    text-align: center;
    margin-top: 2rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%)  
}

@media (min-width: 640px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* ! 2 columns with 1 fractional column */
    }

    .container article:first-child img{
        border-radius: 1rem 0 0 1rem;
        width: 100%;
    }
    
    .container article:last-child {
        border-radius: 0 1rem 1rem 0;
        margin: 0;
        
    }    

    .container p{
        margin-bottom: 1rem;
    }

    
}




